/.DS_Store
/1-Funksjoner-og-variabler
/2-Tester-og-valg
/3-løkker
/4-spillteori
/5-forberedelse-til-prøve
/6-Pygame
/7-Gameloop
/8-pygame
/9-klasser-og-objekter
/bilder
/bilderxivsbiden
/bilprogrammet.drawio
/dvdlogo.png
/egenvurderingsoppgaver
/figut.drawio
/prøve
/spillprosjekt
/zeldaGame-master